.index-page {
  header {
    @include media-breakpoint-up(md) {
      padding-top: 70px;
      padding-bottom: 70px;
    }
    .container {
      padding-top: 85px;
      padding-bottom: 85px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url('../images/bg_home_mobile.jpg');
      @include media-breakpoint-up(md) {
        padding-top: 130px;
        padding-bottom: 130px;
        background-image: url('../images/bg_home.jpg');
      }
    }
    .header-decoration {
      background-color: $gray-800;
      &:before, &:after {
        content: ' ';
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: $white;
      }
      &:before {
        top: -5px;
        left: -5px;
      }
      &:after {
        top: -5px;
        right: -5px;
      }
      > :first-child {
        &:before, &:after {
          content: ' ';
          position: absolute;
          width: 10px;
          height: 10px;
          background-color: $white;
        }
        &:before {
          bottom: -5px;
          right: -5px;
        }
        &:after {
          bottom: -5px;
          left: -5px;
        }
      }
    }
    h1 {
      font-size: 1.5rem;
      @include media-breakpoint-up(md) {
        font-size: 3rem;
      }
    }
    .highlight {
      @include text-gradient;
    }
    p {
      font-size: .875rem;
      @include media-breakpoint-up(md) {
        font-size: 1.125rem;
      }
    }
  }
}

.card--feature {
  position: relative;
  background-color: $dark;
  border: 1px solid transparent;
  border-radius: .75rem;
  opacity: 0.5;
  transition: opacity 0.3s, background-color 0.3s, border-color 0.3s;
  @include media-breakpoint-up(xl) {
    background-color: $gray-dark;
  }
  &:hover {
    @include media-breakpoint-up(lg) {
      background-color: $dark;
      border-color: $primary;
      opacity: 1;
      .material-icons {
        @include text-gradient;
      }
    }
  }
  .material-icons {
    font-size: 3.125rem;
  }
}

.card--process {
  padding-top: 24px; // 48/2
  > div {
    border-radius: .75rem;
  }
  strong {
    left: 44px; // 48-4
    font-size: 3rem;
  }
}

.card--article {
  height: 100%;
  &:before, &:after {
    content: ' ';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: solid $primary;
    opacity: 0;
    transition: opacity 0.3s;
  }
  &:before {
    top: 0;
    left: 0;
    border-width: 1px 0 0 1px;
    border-top-left-radius: .75rem;
  }
  &:after {
    top: 0;
    right: 0;
    border-width: 1px 1px 0 0;
    border-top-right-radius: .75rem;
  }
  .card-body {
    &:before, &:after {
      content: ' ';
      position: absolute;
      width: 2rem;
      height: 2rem;
      border: solid $primary;
      opacity: 0;
      transition: opacity 0.3s;
    }
    &:before {
      bottom: 0;
      right: 0;
      border-width: 0 1px 1px 0;
      border-bottom-right-radius: .75rem;
    }
    &:after {
      bottom: 0;
      left: 0;
      border-width: 0 0 1px 1px;
      border-bottom-left-radius: .75rem;
    }
  }
  .card-text {
    @include line-clamp(3);
  }
  &:hover {
    @include media-breakpoint-up(lg) {
      &:before, &:after {
        opacity: 1;
      }
      .card-body {
        &:before, &:after {
          opacity: 1;
        }
      }
    }
  }
}

.card--course {
  height: 100%;
  border-radius: 1.5rem;
  border-color: $gray-dark;
  &:hover {
    @include media-breakpoint-up(lg) {
      border-color: $primary;
    }
  }
  .card-footer {
    border-color: $gray-400;
    background-color: transparent;
  }
  img {
    width: 100px;
  }
  p {
    @include line-clamp(3);
  }
}

.card--advantage {
  position: relative;
  z-index: 0;
  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    opacity: 0.9;
    transition: opacity 0.3s;
  }
  > img {
    width: 100%;
    height: 270px;
    object-fit: cover;
    z-index: -1;
    @include media-breakpoint-up(md) {
      height: 350px;
    }
    @include media-breakpoint-up(lg) {
      height: 625px;
    }
  }
  > * {
    z-index: 0;
  }
  .material-icons, p {
    transition: opacity 0.3s;
    @include media-breakpoint-up(md) {
      opacity: 0.5;
    }
  }
  .material-icons {
    color: $primary;
    font-size: 2em;
    @include media-breakpoint-up(md) {
      color: $white;
    }
  }
  .title span:last-child {
    transition: background-color 0.3s;
    @include media-breakpoint-up(md) {
      background-color: $white;
    }
  }
  &:hover {
    @include media-breakpoint-up(lg) {
      &::before {
        opacity: .12;
      }
      .material-icons, p {
        opacity: 1;
      }
      .material-icons {
        color: $primary;
      }
      .title span:last-child {
        background-color: $primary;
      }
    }
  }
}

.card--booking {
  .material-icons {
    font-size: 6.5rem;
    opacity: 0.5;
  }
}

.section--testimonial {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  @include media-breakpoint-up(lg) {
    background-image: url('../images/bg_share.jpg');
  }
}

.swiper--function {
  --swiper-pagination-bullet-horizontal-gap: 0;
  --swiper-pagination-bullet-width: 1rem;
  --swiper-pagination-bullet-inactive-opacity: 1;
  --swiper-pagination-color: #{$primary};
  --swiper-pagination-bullet-inactive-color: #{$primary};
  left: 24px;
  right: 24px;
  @include media-breakpoint-up(lg) {
    position: absolute;
    bottom: 0;
    right: 47.25%;
    z-index: 1;
  }
  @include media-breakpoint-up(xl) {
    right: 45.75%;
  }
  .swiper-pagination-bullet {
    border-radius: 1em;
    --swiper-pagination-bullet-width: .5rem;
    transition: width 0.3s;
    &.swiper-pagination-bullet-active {
      --swiper-pagination-bullet-width: 1rem;
    }
  }
}

.card--testimonial {
  .card-img {
    position: relative;
    width: 100%;
    @include media-breakpoint-up(lg) {
      width: 57.25%;
    }
    &::before {
      content: '';
      display: block;
      position: absolute;
      top: .25rem;
      left: -.25rem;
      width: 100%;
      height: 100%;
      border-radius: 1.5rem;
      border: 1px solid $gray-600;
      z-index: -1;
      @include media-breakpoint-up(lg) {
        top: .5rem;
        left: -.5rem;
      }
    }
  }
  .card-body {
    position: relative;
    width: 100%;
    border-radius: 24px 24px 24px 0;
    @include media-breakpoint-up(lg) {
      position: absolute;
      width: 47%;
    }
    @include media-breakpoint-up(xl) {
      width: 45.5%;
    }
    img {
      top: .5rem;
      right: 24px;
      width: 80px;
      @include media-breakpoint-up(lg) {
        top: 0;
        right: 32px;
        width: 100px;
      }
    }
  }
}
